<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Ranking</th>
        </tr>
        <tr th:each="player : ${playerList}">
            <td><span th:text="${player.name}"> </span></td>
            <td><span th:text="${player.ranking}"> </span></td>
        </tr>
    </table>
</body>
</html>