<h2>Player List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th> Ranking</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let player of players">
            <td> <input type="text" [id]=player.name value="{{ player.name }}" [readonly]="!(isEdit.get(player.name))" [class.editable]="isEdit.get(player.name)"></td>
            <td> {{ player.ranking }} </td>
            <td>
                <div>
                    <button (click)="changeEdit(player)">{{ isEdit.get(player.name) ? "Save" : "Edit"}}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>