input {
    background-color: transparent;
    border: 0px;
    outline: none;
}

input[type="button"].editable {
    content: "Save";
}

.editable {
    background-color: #DDDDDD;
    text-decoration: underline;
}