<h2>Player List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th> Ranking</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let player of players">
            <td> <input id="name{{player.id}}" type="text" value="{{ player.name }}" [readonly]="!(isEdit.get(player.id))" [class.editable]="isEdit.get(player.id)"
                 [class.fixed]="!isEdit.get(player.id)"></td>
            <td> <input id="ranking{{player.id}}" type="number" value="{{ player.ranking }}" [readonly]="!(isEdit.get(player.id))" [class.editable]="isEdit.get(player.id)" 
                [class.fixed]="!isEdit.get(player.id)"></td>
            <td>
                <button (click)="edit(player)">{{ isEdit.get(player.id) ? "Save" : "Edit"}}</button>
            </td>
            <td>
                <button (click)="deleteButton(player)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>